.event-form__title {
  font-weight: 300;
}

.event-form__label {
  display: block;
  margin: .25em 0;
}

.event-form__name, .event-form__date, .event-form__time, .event-form__comment {
  padding: .5em .6em;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  margin: .25em 0;
}

.event-form__name, .event-form__comment {
  display: block;
  width: 100%;
}

.event-form__comment {
  resize: none;
}

.event-form__submit {
  float: right;
  margin-top: 10px;
}